* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu_destaque {
    color: rgb(133, 123, 32);
}

body {
    background-color: rgb(92, 143, 105);
    height: 100vh;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:link {
    text-decoration: none;
}

figure {
    width: 100%;
    position: relative;
}

figure img {
    width: 100%;
}

.polaroid {
    background-color: rgb(255, 255, 255);
    height: 20rem;
    box-sizing: border-box;
    padding: 0.5rem;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    /*hidden permite o hover de tamanho*/
}

.polaroid:hover {
    background-color: rgb(253, 239, 170);
    color: rgb(0, 0, 0);
    -webkit-transform: scale(1.1);
    /*Faz com que aumente a escala quando passa o mouse em cima*/
    transform: scale(1.1);
    transition: 0.8s;
}

@media (width: 768px),
(width: 1024px) {
    .polaroid {
        background-color: rgb(255, 255, 255);
        height: 17rem;
        box-sizing: border-box;
        padding: 0.5rem;
        box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
    }
}