@font-face {
    font-family: 'Barlow';
    src: url('assets/fonts/Barlow-ExtraLight.ttf')
}

@font-face {
    font-family: 'Barlow Bold';
    src: url('assets/fonts/Barlow-Bold.ttf')
}

@font-face {
    font-family: 'October Twilight';
    src: url('assets/fonts/October-Twilight.ttf')
}


body {/*padroniza a fonte do corpo, as margens, o tamanho e a cor dos elementos*/
    font-family: 'Barlow';
    margin: 0px;
    background-color: #FFFFFF;
    height: 2000px; 
}
.menu{/*padroniza o tamanho, alura, cor e posição do menu*/
    width: 100%;
    height: 100px;
    background-color: rgba(3, 39, 8, 0.76);
    position: absolute;

}
.menu_logo{/*padroniza apenas as definições da escrita da logo*/
    color: beige;
    position: absolute;
    margin-top: 60px;
    margin-left: 80px;
    font-family: 'Lora', serif;
} 
.menu_img{/*padroniza as definições da imagem da logo*/
    
    background-image: url(assets/img/agoravai.png);
    background-repeat: no-repeat;
    width:105px;
    height:125px;
    position: relative;
    margin-top: 10px;
}
.menu_desktop{/*determina o tamanho da fonte e o tamanho das utilidades do menu*/
    display:flex ;
    width: 100%;
    height: 54px;
    font-size: 23px;
    
}
.menu_desktop ul{/*determina o formato da lista*/
    list-style: none;
    position: absolute;
    margin-left: 700px;
    margin-top: -100px;
    white-space: nowrap; /*n deixa o menu desconfigurar*/
    
    
    
}
.menu_desktop ul li{/*determina o formato da lista com base nas linhas*/
    display: inline;
    padding-left: 24px ;
    position: relative;
    white-space: nowrap;/*mantém frases compostas na mesma linha- "sobre nós"*/
    
   
}
.menu_desktop ul li a{/*determina a cor e tira as características padrões de links*/
    text-decoration: none;
    color: #eeeeee;
    
    
}


.content__1{/*tamanho do content1*/
    width: 100%;
}
.content__1-img{/*determina o tamanho, proporção, posição e alinhamento dos itens que estão dentro do banner.*/
    padding-top: 0px;
    height: 600px;
    background-image: url(assets/img/mountain-1149897_1920.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: 1700px;
    width: 100%;
}
.content__1-title1{/*padroniza o título 1 do banner-montanha*/
    font-family: 'Barlow';
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 20px;
    
}
.content__1-title2{/*padroniza o título 2 do banner-montanha*/
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
    font-size: 70px;
    margin-top: 77px;
}
.content__1-button{/*determina a posição e as configurações estéticas do botão*/
    position: absolute;
    margin-top: 420px;
    padding: 10px;
    background-color: rgba(7, 70, 35, 0.87);
    color: rgb(255, 255, 255);
    border: 2px solid #bebebe;
    
    font-size: 20px;
}

.content__2{
    width: 100%;
    height: 330px;
    background-color: rgb(99, 34, 14);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.h2{
    font-family: 'Barlow';
    color: bisque;
}

.rodape{
    width: 100%;
    height: 250px;
    background-color: rgba(1, 17, 3);    
}
.rodape_content{
}

#divlogorodape{
    float: left;
}

#logorodape{
    float: left;
    height: 230px;
}

.rodape_items_1{
    float: left;
    margin-top: 15px;
    margin-left: 4%;
}

#rodape_separador{
    margin-top: 25%;
    margin-left: -40px;
    float: left;
    background-color: #eeeeee;
    border-radius: 3px;
    height: 20px;
    width: 3px;
}

#rodapeinfo{
    margin-left: -40px;
    text-decoration: none;
    margin-top: 3%;
    color: #eeeeee;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.listainfo{
    list-style: none;
    outline: none;
    text-decoration: none;
    line-height: 1.6;
}

.li_listainfo{
    color: #eeeeee;
    text-decoration: none;
}

.li_listainfo:hover{
    color:#c4953e;
}

.rodape_items_2{
    float: left;
    margin-left: 100px;
}

.rodape_contato{
    margin-top: 5%;
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
    margin-right: 75px;
}

.rodape_endereco{
    margin-top: 3%;
    color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float: left;
}

#mapa{
    float: left;
}

.li_contato{
    list-style: none;
    line-height: 1.7;
}